#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.title-component {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #f11313;
}


.component {
  display: block;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  background-color: #f9f9f9;
}